body {
    background-image: url("plano_fundo.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: snow;
}

.header {
    background-color: #1d1d1d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    display: block;
    padding: 10px;
}

a:hover{
    color:red;
}

h1 {
   font-size: xx-large;
}

.corpo {
    color: #000000;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.8;
}

.fundo {
    width: 840px;
    height: 315px;
}
.bike {
    height: 300px;
    width: 400px;
    padding: 0px;
}
.bike_e {
    height: 250px;
    width: 800px;
}

@media (max-width: 680px) {
    body {
        background-attachment: fixed;
        background-size: cover;
        
    }
    .corpo{
        margin: 20px;
    }
    .fundo {
        height: 180px;
        width: 320px;
    }
    .bike {
        height: 180px;
        width: 320px;
    }
    .bike_e {
        height: 180px;
        width: 320px;
    }
}