body{
    margin: 0;

}
#Menu ul{
    margin: 0;
    background-color: black;
    list-style: none;

}
 #Menu ul li{
     display: inline;

 }
 #Menu ul li a{
     padding:  10px 10px;
     display: inline-block;
     color: white;
     text-decoration: none;

    }
#Menu ul li a:hover{
  color: red;
}